# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfplan

# Python
.venv/
__pycache__/
*.pyc

# Node.js
app/node_modules/
node_modules/
npm-debug.log

# VS Code
.vscode/

# OS
.DS_Store